<<<<<<< HEAD
body {
	padding-top: 50px;
}

.navbar-inverse {
	background: #55341E;
}

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

.row-header {
	margin: 0px auto;
	padding: 0px auto;
}

.row-content {
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer {
	background-color: #ffedb7;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

.jumbotron {
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	color: #fffcf1;
	background: #7d5034;
}
/*
.jumbotron .btn {
	margin-top: 2.5em;
}
*/
.address {
	font-size: 80%;
	margin: 0px;
	color: #6b4226;
}
=======
body {
	padding-top: 50px;
}

.navbar-inverse {
	background: #55341E;
}

.row-header {
	margin: 0px auto;
	padding: 0px auto;
}

.row-content {
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer {
	background-color: #ffedb7;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

.jumbotron {
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	color: #fffcf1;
	background: #7d5034;
}
/*
.jumbotron .btn {
	margin-top: 2.5em;
}
*/
.address {
	font-size: 80%;
	margin: 0px;
	color: #6b4226;
}
>>>>>>> ecff8a63fd956dc7ad5f7f89af5095578aa668bd
